@font-face {
    font-family: 'IMFellEnglish-Regular';
    src: local('IMFellEnglish-Regular'), url('fonts/IMFellEnglish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #333;
}

#siteInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#siteIcon {
    width: 16px;
    height: 16px;
}

#siteIconContainer {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#siteName {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#blockedSitesList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocked-site {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocked-site .text {
    font-size: 16px;
    color: #333;
    margin-right: auto;
    margin-left: 10px;
}

.blocked-site button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
}

    
#blockedContent {
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
    font-family: 'IMFellEnglish-Regular';
    color:white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(41, 35, 1);
}

#blockedText {
    font-size: 45px;
    color: gold;
    width: 50%;
}

#blockedSiteInfo {
    margin-top: 20px;
    font-size: 30px;
    -webkit-text-stroke-width: 0.5px;
    color: #ffffff;
}

#blockedSiteUrl {
    color: gold;
}

#blockedTopBar {
    font-family: 'IMFellEnglish-Regular';
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: left;
    align-items: center;
    display: flex;
    color: white;
}

#blockedTopBar img {
    margin-right: 10px;
}

#goBackButton {
    font-family: 'IMFellEnglish-Regular';
    background-color: rgba(0, 0, 0, 0.1);
    height: 32px;
    width: 32px;
    border-style: none;
    display: inline-block;
    cursor: pointer;
}

#goBackButton img {
    width: 100%;
    height: 100%;
}
#goBackButton:hover {
    background-color:  rgba(0, 0, 0, 0.6);
}